@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

@font-face {
  font-family: 'FontAwesome';
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot');
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
          url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg') format('svg');
  font-weight:normal;
  font-style:normal
}

$width = 600px

$c-primary = #03A052
$c-primary-light = lighten($c-primary, 12%)
$c-secondary = #eee
Sc-font = #777

html
  min-height 100%
  position relative
body
  margin 0 0 13em
  padding 7em 0 0
  min-height 100%
  font-family 'Raleway', sans-serif
  font-size 16px
  color Sc-font
  background-color: $c-secondary
  @media screen and (max-width 480px)
    font-size 12px
    margin 0 0 17em
  @media screen and (min-width 980px)
    padding 8em 0 0
  @media screen and (min-width 1200px)
    font-size 20px
  .loader
    display none
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    text-align: center
    color $c-secondary
    background-color rgba($c-secondary, 0.8)
    z-index 20
    &.active
      display block
      .cs-loader
        transform: translateY(-50%);
        top: 20em;
        position: absolute;
        width: calc(100% - 200px);
        color: $c-primary;
        padding: 0 100px;
        text-align: center;
        label
          font-size: 1.5em;
          opacity: 0;
          display:inline-block;
          &:nth-child(6)
            -webkit-animation: lol 3s infinite ease-in-out;
            animation: lol 3s infinite ease-in-out;
          &:nth-child(5)
            -webkit-animation: lol 3s 100ms infinite ease-in-out;
            animation: lol 3s 100ms infinite ease-in-out;
          &:nth-child(4)
            -webkit-animation: lol 3s 200ms infinite ease-in-out;
            animation: lol 3s 200ms infinite ease-in-out;
          &:nth-child(3)
            -webkit-animation: lol 3s 300ms infinite ease-in-out;
            animation: lol 3s 300ms infinite ease-in-out;
          &:nth-child(2)
            -webkit-animation: lol 3s 400ms infinite ease-in-out;
            animation: lol 3s 400ms infinite ease-in-out;
          &:nth-child(1)
            -webkit-animation: lol 3s 500ms infinite ease-in-out;
            animation: lol 3s 500ms infinite ease-in-out;
      @keyframes lol {
        0% {
          opacity: 0;
          transform: translateX(-300px);
        }
        33% {
          opacity: 1;
          transform: translateX(0px);
        }
        66% {
          opacity: 1;
          transform: translateX(0px);
        }
        100% {
          opacity: 0;
          transform: translateX(300px);
        }
      }
      @-webkit-keyframes lol {
        0% {
          opacity: 0;
          -webkit-transform: translateX(-300px);
        }
        33% {
          opacity: 1;
          -webkit-transform: translateX(0px);
        }
        66% {
          opacity: 1;
          -webkit-transform: translateX(0px);
        }
        100% {
          opacity: 0;
          -webkit-transform: translateX(300px);
        }
      }
  .btn
    position absolute
    padding 10px 20px
    outline none
    border-radius 4px
    font-weight bold
    font-size 1em
    color white
    border 1px solid darken($c-primary, 30%)
    background-color: $c-primary-light
    cursor pointer
    transition background-color 0.3s ease-in 0s
    &:hover
      background-color: lighten(@background-color, 12%)
    &.btn-add
      top 0
      right 0
      height 200px
      text-align center
      -webkit-writing-mode vertical-lr !important
      writing-mode vertical-lr !important
      box-shadow 0 0 20px #222
      z-index 22
      @media screen and (max-width 737px)
        height 150px
        padding 0.5em 1em
    &.btn-load
      left 2em
      margin-right 20px
      @media screen and (max-width 480px)
        left 1em
      @media screen and (min-width 980px)
        left 3em
  .header
    position fixed
    top 0
    width 100%
    font-size 2em
    font-weight 900
    letter-spacing 4px
    color $c-secondary
    background-color $c-primary
    box-shadow 0 4px 10px Sc-font
    z-index 10
    .header-inner
      width $width
      margin 0 auto
      padding 1em
  .form-holder
    position fixed
    top 9em
    right 0
    z-index 20
    .form
      position absolute
      top 0
      right -1000px
      width $width - 300px
      border-radius 5px
      background-color $c-primary-light
      box-shadow 0 10px 60px #222
      overflow hidden
      transition right 0.5s ease 0s
      &.active
        right 0
      fieldset
        border none
      .close
        position absolute
        top 0
        right 20px
        display inline
        line-height 40px
        font-size 40px
        color $c-secondary
        transform rotate(45deg)
        cursor pointer
        transition color 0.5s ease 0s
        &:hover
          color Sc-font
      label
        color $c-secondary
      input
      textarea
        display block
        padding 10px
        width 90%
        font-family 'Raleway', sans-serif
        font-size 1em
        border-radius 4px
        border none
        color $c-primary
        background-color lighten($c-primary-light, 90%)
        resize none
      textarea
        height 200px
      .btn-publish
        display block
        margin 0 auto
        padding 10px
        width 50%
        outline none
        border 1px solid darken($c-primary, 30%)
        border-radius 4px
        font-weight bold
        font-size 16px
        background-color $c-secondary
        color Sc-font
        transition all 0.5s ease 0s
        &:hover
          color $c-primary
          background-color darken($c-secondary, 20%)
      .form-item
        margin-top 20px
  .wrapper
    position relative
    max-width $width
    margin 0 auto
    padding 0 2em 0 2em
    z-index 5
    @media screen and (max-width: 480px)
      padding 0 1em 0 1em
      min-width 320px
    @media screen and (min-width: 980px)
      padding 0 3em 0 3em
    .review-item
      margin 0 0 20px
      padding 10px
      border-radius 4px
      background-color: lighten($c-primary-light, 90%)
      box-shadow 0 4px 15px #777
      opacity 0
      transition opacity 0.5s ease 0s
      &.loaded
        opacity 1
      .author
      .date
        font-weight bold
      .date
        float right
      .review-text
        padding 20px
        background-color: #fff
        border-radius 4px

  .footer
    position absolute
    bottom 0
    left 0
    width 100%
    color $c-secondary
    background-color $c-primary
    .footer-inner
      margin 0 auto
      padding 1em
      max-width $width
      .social
      .contact
        display inline-block
        vertical-align top
        margin-right 40px
        @media screen and (max-width: 480px)
          display block
          margin-right 0
          margin-bottom 1em
      .social>h2
        margin-top 0
        margin-bottom 10px
      .social>ul
        margin 0
        padding 0
        list-style none
        &>li
          display inline-block
          vertical-align middle
          padding 10px
          .fa
            text-decoration none
            color $c-secondary
            transition color 0.3s ease 0s
            &:hover
              color $c-primary-light
      .contact>div
        margin-bottom 1em