@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@font-face {
  font-family: 'FontAwesome';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot") format('embedded-opentype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format('woff2'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format('woff'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf") format('truetype'), url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0 0 13em;
  padding: 7em 0 0;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #777;
  background-color: #eee;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
    margin: 0 0 17em;
  }
}
@media screen and (min-width: 980px) {
  body {
    padding: 8em 0 0;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
body .loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #eee;
  background-color: rgba(238,238,238,0.8);
  z-index: 20;
}
body .loader.active {
  display: block;
}
body .loader.active .cs-loader {
  transform: translateY(-50%);
  top: 20em;
  position: absolute;
  width: calc(100% - 200px);
  color: #03a052;
  padding: 0 100px;
  text-align: center;
}
body .loader.active .cs-loader label {
  font-size: 1.5em;
  opacity: 0;
  display: inline-block;
}
body .loader.active .cs-loader label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}
body .loader.active .cs-loader label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}
body .loader.active .cs-loader label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}
body .loader.active .cs-loader label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}
body .loader.active .cs-loader label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}
body .loader.active .cs-loader label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
@-moz-keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@-o-keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}
body .btn {
  position: absolute;
  padding: 10px 20px;
  outline: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  border: 1px solid #027039;
  background-color: #04c967;
  cursor: pointer;
  transition: background-color 0.3s ease-in 0s;
}
body .btn:hover {
  background-color: #05ed79;
}
body .btn.btn-add {
  top: 0;
  right: 0;
  height: 200px;
  text-align: center;
  -webkit-writing-mode: vertical-lr !important;
  writing-mode: vertical-lr !important;
  box-shadow: 0 0 20px #222;
  z-index: 22;
}
@media screen and (max-width: 737px) {
  body .btn.btn-add {
    height: 150px;
    padding: 0.5em 1em;
  }
}
body .btn.btn-load {
  left: 2em;
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  body .btn.btn-load {
    left: 1em;
  }
}
@media screen and (min-width: 980px) {
  body .btn.btn-load {
    left: 3em;
  }
}
body .header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 4px;
  color: #eee;
  background-color: #03a052;
  box-shadow: 0 4px 10px #777;
  z-index: 10;
}
body .header .header-inner {
  width: 600px;
  margin: 0 auto;
  padding: 1em;
}
body .form-holder {
  position: fixed;
  top: 9em;
  right: 0;
  z-index: 20;
}
body .form-holder .form {
  position: absolute;
  top: 0;
  right: -1000px;
  width: 300px;
  border-radius: 5px;
  background-color: #04c967;
  box-shadow: 0 10px 60px #222;
  overflow: hidden;
  transition: right 0.5s ease 0s;
}
body .form-holder .form.active {
  right: 0;
}
body .form-holder .form fieldset {
  border: none;
}
body .form-holder .form .close {
  position: absolute;
  top: 0;
  right: 20px;
  display: inline;
  line-height: 40px;
  font-size: 40px;
  color: #eee;
  transform: rotate(45deg);
  cursor: pointer;
  transition: color 0.5s ease 0s;
}
body .form-holder .form .close:hover {
  color: #777;
}
body .form-holder .form label {
  color: #eee;
}
body .form-holder .form input,
body .form-holder .form textarea {
  display: block;
  padding: 10px;
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  color: #03a052;
  background-color: #e1fef0;
  resize: none;
}
body .form-holder .form textarea {
  height: 200px;
}
body .form-holder .form .btn-publish {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  outline: none;
  border: 1px solid #027039;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  background-color: #eee;
  color: #777;
  transition: all 0.5s ease 0s;
}
body .form-holder .form .btn-publish:hover {
  color: #03a052;
  background-color: #bebebe;
}
body .form-holder .form .form-item {
  margin-top: 20px;
}
body .wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2em 0 2em;
  z-index: 5;
}
@media screen and (max-width: 480px) {
  body .wrapper {
    padding: 0 1em 0 1em;
    min-width: 320px;
  }
}
@media screen and (min-width: 980px) {
  body .wrapper {
    padding: 0 3em 0 3em;
  }
}
body .wrapper .review-item {
  margin: 0 0 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: #e1fef0;
  box-shadow: 0 4px 15px #777;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
body .wrapper .review-item.loaded {
  opacity: 1;
}
body .wrapper .review-item .author,
body .wrapper .review-item .date {
  font-weight: bold;
}
body .wrapper .review-item .date {
  float: right;
}
body .wrapper .review-item .review-text {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
body .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #eee;
  background-color: #03a052;
}
body .footer .footer-inner {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
}
body .footer .footer-inner .social,
body .footer .footer-inner .contact {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
@media screen and (max-width: 480px) {
  body .footer .footer-inner .social,
  body .footer .footer-inner .contact {
    display: block;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
body .footer .footer-inner .social>h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
body .footer .footer-inner .social>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .footer .footer-inner .social>ul>li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
body .footer .footer-inner .social>ul>li .fa {
  text-decoration: none;
  color: #eee;
  transition: color 0.3s ease 0s;
}
body .footer .footer-inner .social>ul>li .fa:hover {
  color: #04c967;
}
body .footer .footer-inner .contact>div {
  margin-bottom: 1em;
}
